<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Jordanne Dale</h1>
 <p>I am a University of the West Indies student, pursing a degree in Computer Science.<br>
    I can say that I am a responsible and a hard-working student. <br>
    Moreover, being a sociable person, I have many friends since I like to communicate with people and get to know new interesting individuals. </p>
</body>
</html>   